# NOTE: this key must be the first in the file.
project_name = "freva"

## The `deployment_method` key sets the option of how the installation
## of the service is realised. `docker`, `podman` leverages podman or docker,
## `conda` uses conda-forge to install the service while `k8s` involves a
### kubernetes based deployment
## Chosse between: "docker", "podman", "conda", "k8s"
deployment_method = "k8s"

## Kubernetes deployment settings
[kubernetes]
## Set the group ID for all volmes used by pods
fs_group = 0

## Set the user group
run_as_group = 0

## Set the user id
run_as_user = 0



[kubernetes.ingress]
## Specify the fully qualified domain host for ingress connections to the
## cluster.
fqdn = "k8s.ucar.edu"

## Set the network ingress class name for external communication
external_class_name = "nginx-external"
## Set the network ingress class name for internal communication
internal_class_name = "nginx-internal"

## Any ingress annotations that are needed
annotations = { "cert-manager.io/cluster-issuer" = "incommon" }


## Set this to true you the cluster mangages server certs
certs_managed = false

### Set any tls_cert_secret name that should be used.
tls_secret_name = "web-cert-secret"

## Set the resource allocation for each service.
## web: Django frontend
[kubernetes.resources.web.requests]
cpu = "600m"
memory = "1Gi"
[kubernetes.resources.web.limits]
cpu = "1000m"
memory = "2Gi"

## cache-server: Redis (backing data-loader & web)
[kubernetes.resources.cache-server.requests]
cpu = "300m"
memory = "512Mi"
[kubernetes.resources.cache-server.limits]
cpu = "500m"
memory = "1Gi"

## data-loader-server: heavy lifting & serialization
[kubernetes.resources.data-loader-server.requests]
cpu = "500m"
memory = "1Gi"
[kubernetes.resources.data-loader-server.limits]
cpu = "1200m"
memory = "3Gi"

## freva-rest-server: REST API (2 replicas recommended)
[kubernetes.resources.freva-rest-server.requests]
cpu = "400m"
memory = "512Mi"
[kubernetes.resources.freva-rest-server.limits]
cpu = "600m"
memory = "512Mi"

## database-server: MySQL
[kubernetes.resources.database-server.requests]
cpu = "800m"
memory = "1Gi"
[kubernetes.resources.database-server.limits]
cpu = "2"
memory = "4Gi"

## mongo-server: metadata + jobs
[kubernetes.resources.mongo-server.requests]
cpu = "300m"
memory = "1Gi"
[kubernetes.resources.mongo-server.limits]
cpu = "1500m"
memory = "3Gi"

## search-server: Apache Solr (main memory hog)
[kubernetes.resources.search-server.requests]
cpu = "1500m"
memory = "8Gi"
[kubernetes.resources.search-server.limits]
cpu = "4"
memory = "16Gi"

## vault-server: HashiCorp Vault (small)
[kubernetes.resources.vault-server.requests]
cpu = "100m"
memory = "256Mi"
[kubernetes.resources.vault-server.limits]
cpu = "300m"
memory = "512Mi"

[[kubernetes.external_volumes.data-loader]]
driver = "nfs"
mount_path = "/gpfs/csfs1/collections/gdex"
driver_options = { server = "gladedm1.ucar.edu", path = "/gpfs/csfs1/collections/gdex", readOnly = 'true'}

[kubernetes.external_volumes.web-ext]
driver = "nfs"
mount_path = "/gpfs/csfs1/work/gdexdata/"
[kubernetes.external_volumes.web-ext.driver_options]
server = "gladedm1.ucar.edu"
path = "/gpfs/csfs1/work/gdexdata/"
readOnly = 'true'

[kubernetes.external_volumes.web-preview]
driver = "nfs"
mount_path = "/opt/freva/share/preview"
[kubernetes.external_volumes.web-preview.driver_options]
server = "gladedm1.ucar.edu"
path = "/gpfs/csfs1/work/gdexdata/freva/share/preview"
readOnly = 'true'


## Set the pvc resource allocation for each service.
[kubernetes.pvc.mysql]
data_size = "20Gi"
[kubernetes.pvc.mongo]
data_size = "20Gi"
[kubernetes.pvc.solr]
data_size = "20Gi"
[kubernetes.pvc.web]
data_size = "5Gi"
[kubernetes.pvc.web-ext]
path = "/gpfs/csfs1/work/gdexdata"
[kubernetes.pvc.ext-data]
path =  "/gpfs/csfs1/collections/gdex"
[kubernetes.pvc.web-preview]
path = "/gpfs/csfs1/work/gdexdata/freva/share/preview"

## Specify the path to the SSL certificate files used for secure connections
## to the vault server or as web certificates.
[certificates]

## Path to the public key file.
public_keyfile = ""

## Path to the private key file.
private_keyfile = ""

## Path to the chain file.
chain_keyfile = ""

[db]
## Config variables for the database service.

## Specify the host name were the database server should be deployed
db_host = "freva-db.k8s.ucar.edu"

## The freva infrastructure uitilises a small vault server that stores
## database secrets for client connections. You can specify the host name
## where this server should be running. If you don't set it (default)
## the vault server will be deployed on the database host.
vault_host = "freva-vault.k8s.ucar.edu"

## The database runs in a Docker container. You can change the port
## that is exposed to the external network. Every DB connection from
## outside the container uses this port.
port = 3306

## Set the username of the MariaDB user.
user = "freva"

## Set the name of the MariaDB database.
db = "frevadb"

## If the username running the deployment software and the username
## that installs the services differ, instruct Ansible to use the
## specified username for SSH connections to the target server.
## If left blank, the current username will be used.
ansible_user = "admin"

## Set the become (sudo) username to change to for installing the services.
## Leave blank to utilise a non-privileged user-based installation.
## Non-privileged installation means the system will be installed in the
## user space of the user that logs on to the system.
ansible_become_user = "root"

## Ansible needs a Python 3 interpreter on the target server. This interpreter
## can be set for custom Python 3 instances. By default, Ansible will try
## to use the default Python interpreter path /usr/bin/python.
ansible_python_interpreter = ""

## Indicate whether to empty any pre-existing folders/docker volumes.
## Useful for a truly fresh start (default: false).
wipe = false

## Set the path where the permanent database data should be stored.
## By default, this is set to /opt/freva/.
## NOTE: This directory will be used to store persisent data on conda based
## deployments and creating docker-compose files.
data_path = "/opt/freva"

## Set the username that will own all files created by the service such as
## database files etc. This can be useful if multiple users take turn in
## deploying and administering the service. The value of the username
## will default to the user that deploys the service
admin_user = ""

[freva_rest]
## Specify the host name were the ferva-rest-api server should be deployed
freva_rest_host = "ferva-api.k8s.ucar.edu"

## To search for data the freva-rest-api needs a metadata index service.
## Typically this services apache solr. You can set the host where this
## index server should be running at. Leave empty to deploy the service
## on the same host as the freva-rest-api
search_server_host = "na"

## Search statistics and user data related will be stored in a mongoDB
# service You can set the host where the server should be running at.
## Leave empty to deploy the service on the same host as the freva-rest-api
mongodb_server_host = "na"

### The the host name of the redis-cache, this cache is used for caching
### different kinds of data. If not set this will fall back to the host name
### of the rest-api server.
redis_host = "na"

### Set the hostname(s) for the data-loading portal. The data-loading portal
### is a services that provisions data via zarr. The data-loading portal is
### a distributed system, meaning that you can set multiple hostnames that
### form a distributed memory. The first entry will be used as the master
### scheduler and the consecutive ones as workers. If you leave this blank
## then the service will be disabled.
data_loader_portal_hosts = "na,na"

## Set the amount of memory allocated to the search engine (Solr).
solr_mem = "4g"

## Set the port for the freva_rest service.
freva_rest_port = 7777

## Set the become (sudo) username to change to for installing the services.
## Leave blank to utiilise a non-privileged user-based installation.
## Non-privileged installation means the system will be installed in the
## user space of the user that logs on to the system.
ansible_become_user = "root"

## Ansible needs a Python 3 interpreter on the target server. This interpreter
## can be set for custom Python 3 instances. By default, Ansible will try
## to use the default Python interpreter path /usr/bin/python.
ansible_python_interpreter = ""

## If the username running the deployment software and the username
## that installs the services differ, instruct Ansible to use the
## specified username for SSH connections to the target server.
## If left blank, the current username will be used.
ansible_user = "admin"

## Indicate whether to empty any pre-existing folders/docker volumes.
## Useful for a truly fresh start (default: false).
wipe = false

## Set the path where the permanent freva-rest data should be stored.
## By default, this is set to /opt/freva.
## NOTE: This directory will be used to store persisent data on conda based
## deployments and creating docker-compose files.
data_path = "/opt/freva"

### Indicate whether or not the redis-caching services will be shared among
### other freva instances. In this case the name of the service will simply
### be called redis-cache service otherwise <project_name>-cache
shared_cache = false

### Authentication is done via open id connect. This deployment assumes that
## you have set up and configured a open id connect host. Set the url
## to the open id discovery. This url usually ends with
## `.well-known/openid-configuration`
oidc_url = "https://freva-keycloak.cloud.dkrz.de/realms/Freva/.well-known/openid-configuration"


### Set the client id (app name) of the open id connect service.
oidc_client = "freva"

### If you have configured that your OIDC client needs a client secret
### you can define it here, if not then you don't have to set it
oidc_client_secret = ""

## Set the username that will own all files created by the service such as
## database files etc. This can be useful if multiple users take turn in
## deploying and administering the service. The value of the username
## will default to the user that deploys the service
admin_user = ""

# A dict of claim-based filters in {<key1.key2> = [<pattern>]}. Each filter
# matches if the decoded JWT contains the specified claim
# (e.g., group, role) and its value includes the given pattern. Patterns can
# be plain substrings or regular expressions.
# Nested claims are defined by '.' separation.
oidc_token_claims = {scope = []}


[core]
## Specify the host name were the client should be deployed
core_host = "localhost"

## List of users that can alter the configuration of the freva command line interface.
## If blank, the user that runs the deployment is chosen.
admins = "rpconroy"

## The path where the core library should be installed.
## Conda is used for installing the core library. Setting this
## instructs Conda to install a new Conda environment into this folder.
install_dir = "/gpfs/csfs1/work/gdexdata/conda-env"

## The directory where the project configuration files will be stored.
## This can be useful if you want to set up multiple freva instances with
## the same software stack (Anaconda environment). Leave blank to use the
## same directory as anaconda installation directory.
root_dir = "/gpfs/csfs1/work/gdexdata/freva"

## If you do not wish to install a new freva Conda environment but only
## (re)configure an already installed system, you can set the `install`
## variable to false. This can be useful if you have a central instance
## of freva deployed and want to set up a project-specific configuration
## that uses this central instance.
install = false

## The directory where user-specific output will be stored.
## If left blank, it defaults to the folder that holds the project
## specific (config) data `<root_dir>/work`.
base_dir_location = ""

## Set the directory holding user content, like plots, for the web user
## interface. Note: After a plugin application, display content of the plugin
## output will be copied to this directory. The default location of this
## directory (if left blank) is the user-specific output dir
## `<base_dir_location/share/preview`.
preview_path = ""

## Set the workload manager system. Currently available options are:
## "local", "slurm", "pbs", "lfs", "moab", "oar", "sge".
scheduler_system = "pbs"

## Set the path to the directory that contains the stdout of the plugins.
## This directory must be accessible to the web UI. The workload manager
## will write the stdout into this directory. Defaults to user-specific
## output dir `<base_dir_location>/share`.
scheduler_output_dir = ""

## Set the target architecture of the system where the backend will be installed.
## You can choose from the following options:
## linux-64 (default), linux-aarch64, linux-ppc64le, linux-s390x,
## oss-64, osx-arm64
arch = "linux-64"

## If you need to install the core or its configuration as a different user,
## set the ansible_become_user variable. This will install the core as a
## different user. Leave blank if not needed.
ansible_become_user = ""

## If the username running the deployment software and the username
## that installs the services differ, instruct Ansible to use the
## specified username for SSH connections to the target server.
## If left blank, the current username will be used.
ansible_user = "rpconroy"

## Ansible needs a Python 3 interpreter on the target server. This interpreter
## can be set for custom Python 3 instances. By default, Ansible will try
## to use the default Python interpreter path /usr/bin/python.
ansible_python_interpreter = ""

## If you want to set special group rights for freva configuration files,
## you can set the admin_group variable. If `admin_group` is set, then config
## files and directories in the `base_dir_location` are only writable to
## `admin_group`.
admin_group = ""

## Indicate whether to empty any pre-existing folders/docker volumes.
## Useful for a truly fresh start (default: false).
wipe = false

[web]
## Specify the host name were the web ui service should be deployed
web_host = "localhost"

## Set the URL of the web user interface.
project_website = "https://freva.k8s.ucar.edu"

## Freva can connect to a GPT service (that has to be set up seperately)
## you can set the <HOSTNAME>:<PORT> of this service - if configured.
## if you leave this blank, the website will not provid the chat interface.
chatbot_host=""

## Ansible needs a Python 3 interpreter on the target server. This interpreter
## can be set for custom Python 3 instances. By default, Ansible will try
## to use the default Python interpreter path /usr/bin/python.
ansible_python_interpreter = ""

## If the username running the deployment software and the username
## that installs the services differ, instruct Ansible to use the
## specified username for SSH connections to the target server.
## If left blank, the current username will be used.
ansible_user = "admin"

## Set the path where the permanent web data should be stored.
## By default, this is set to /opt/freva.
## NOTE: This directory will be used to store persisent data on conda based
## deployments and creating docker-compose files.
data_path = "/opt/freva"

## Set the main HTML color scheme.
main_color = "#121212"
## Set the HTML border colors.
border_color = "#1C1C1C"
## Set the HTML hover colors.
hover_color = "#2F2F2F"

## The "About Us" text is a small blurb about freva within the project.
about_us_text = "NCAR is a facility sponsored by the National Science Foundation (NSF)."

## Set the path to the institution logo. This should be the path to the logo
## as seen by the target system. Ensure this path exists on the target machine.
institution_logo = "/gpfs/csfs1/work/gdexdata/freva/web/nsf-logo.png"

## Set email addresses for contact points for users.
contacts = "datahelp@ucar.edu"

## Set the postal address, which will appear in the footer of the website.
imprint = ["2023-2024 UCAR", "Licensed under the Creative Commons CC-BY-SA 4.0." ]

## Here you can set a lengthy project description.
## You can also set a path to a file containing the information,
## like an HTML file.
homepage_text = """CISL is an innovation hub! We offer state-of-the-art computing resources,
comprehensive data solutions, and pioneering research services.

Our mission is to empower scientists, researchers, and institutions
across the globe with the tools and expertise needed to unlock the
mysteries of our planet's complex interconnected systems."""

## Set a one-line blurb of the project.
homepage_heading = "Welcome to NCAR - CISL"

## Set the name of the project/institution, such as FUB, DWD, DKZ, etc.
institution_name = "NCAR - Computational and Information Systems Lab"

## Set the workload manager scheduler host. The web app will log into this
## machine via SSH to submit plugin jobs.
scheduler_host = ["caspar.hpc.ucar.edu"]

## Set the hosts that are allowed to execute WSGI code.
allowed_hosts = ["www.freva.k8s.ucar.edu", "freva.k8s.ucar.edu"]

## Turn on/off debug mode on the website.
debug = false

## Specify the plugin ID to be used for the web tour.
guest_tour_result = 105

## Set the menu entries.
# Menu entries consist of three elements: [Label, URL, HTML ID] -> e.g., ["Plugins", "plugins:home", "plugin_menu"].
menu_entries = [
    ["Data-Browser", "solr:data_browser", "browser_menu"],
    #["Plugins", "plugins:home", "plugin_menu"],
    #["History", "history:history", "history_menu"],
    #["Result-Browser", "history:result_browser", "result_browser_menu"],
    ["Help", "plugins:about", "doc_menu"]
]

## Set the become (sudo) username to change to for installing the services.
## Leave blank to utiilise a non-privileged user-based installation.
## Non-privileged installation means the system will be installed in the
## user space of the user that logs on to the system.
ansible_become_user = "root"


## Set the username that will own all files created by the service such as
## database files etc. This can be useful if multiple users take turn in
## deploying and administering the service. The value of the username
## will default to the user that deploys the service
admin_user = ""
